section.player > div {
    //align-self: stretch;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    
    .players {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
       
        > .player {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        } 
        
        iframe {
            flex-grow: 1;
        }
    }
    

}
