doctype html
html
    head
        title Sync Player
        if useExternalStyles
            link(rel="stylesheet", href="/build/app.css")
            
            
    body
        #site-wrap
        
        script(src="/build/vendor.js")
        script(src="/build/app.js")